<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hola, si estas aqui es por varias cosas, 1 no estaba seguro si esque esta parte se debia quedar con el error 404 como default, asi que por si las dudas hice una pagina default como pude
    </h1>
    <p>
        2 Para poder poner la fecha al usar el (new_familiar) la tienes que poner asi 2022-12-12
    </p>
    <p>Aqui estan todas las direcciones a las que puede acceder:</p>
    <p> las plantillas de (template.html) y (template_loader) estan vacias.</p> 
    <p> new_familiar    (para agregar un familiar)</p>
    <p> familiar_info   (para mostrar lo acumulado en base de datos)</p>
</body>
</html>