<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Familiar info</h1>
    <h1> Show data </h1>
    <h3>{{fam}}</h3>
    <table>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>edad</th>
            <th>fecha_de_nacimiento</th>
        </tr>
        <tr>
            {% for fa in fam %}
            <td>{{fa.id}}</td>
            <td>{{fa.nombre}}</td>
            <td>{{fa.edad}}</td>
            <td>{{fa.fecha_de_nacimiento}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>